body {
  background-color: SteelBlue;
}

#main-navbar{
  background-color: LightSkyBlue;
  overflow: hidden;
}

#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  position: relative;
  float: left;
  list-style-type: none;
  left: 50%;
}

#main-navbar ul li{
  display: block;
  float: left;
  position: relative;
   margin: 5px;
  padding: 10px;
  right: 50%;
}

#main-navbar ul li a {
  padding: 20px 120px;
  color: black;
  display: block;
  border: 6px solid;
}

#main-navbar ul li a:hover {
  background-color: LightSlateGrey;
}

h1,h2,h3,h4,h5,h6{
  text-align: center;
  background-color: white;
  display: block;
   margin: 0px;
  padding: 5px;
  font-family: "Times New Roman";
}

ul,li {
 text-align: center;
 font-family: "Times New Roman";
}

li{
 text-align: center;
 font-family: ;
list-style-type: none;
padding: 10 px;
margin: 10px;
}

h1,h2,h3m,h4,h5{
  float: none;
  background: DeepSkyBlue;
  position:relative;
  border: 7px solid;
  border-color: FloralWhite;
  text-align: center;
  padding: 30px;
}

